<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Diário de Obras</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container mt-3">
        <div class="d-flex flex-row">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gerenciar Usuários
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/manage_users/add">Cadastrar Usuário</a>
                    <a class="dropdown-item" href="/manage_users/edit">Editar Usuário</a>
                    <a class="dropdown-item" href="/manage_users/remove">Remover Usuário</a>
                </div>
            </div>
            <a href="/manage_works" class="btn btn-info ml-2">Gerenciar Obras</a>
            <a href="/report" class="btn btn-info ml-2">Relatório</a>
        </div>
    </div>
    
    
    <div class="container mt-5">
        <h1>Adicionar Entrada</h1>
        <form method="POST" action="/add_entry">
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="entry_date">Data</label>
                    <input type="date" class="form-control" id="entry_date" name="entry_date" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="entry_time">Hora</label>
                    <input type="time" class="form-control" id="entry_time" name="entry_time" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar Entrada</button>
        </form>
    </div>
    <div class="container mt-5">
        <h1>Seu Relatório de Entradas</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data e Hora</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Usuário</th>
                </tr>
            </thead>
            <tbody>
                <!-- Use um loop para iterar sobre as entradas do diário e preencher a tabela -->
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.entry_datetime }}</td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.description }}</td>
                    <td>{{ entry.created_by }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    
</body>
</html>
