<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Obra</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<div class="container mt-5">
    <form method="POST" action="/edit_works/{{ works.work_name }}">
        <div class="form-group">
            <label for="new_work_name">Novo Nome da Obra</label>
            <input type="text" class="form-control" id="new_work_name" name="new_work_name" value="{{ works.work_name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Edição</button>
    </form>
    <script>

        function updateWorks() {
            var work_name = document.getElementById('editWorks').value;

            fetch('/update_work', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `work_name=${works.work_name}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message);
                    window.location.href = '/manage_works';
                } else {
                    alert('Erro ao atualizar a obra: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Erro na solicitação:', error);
            });
        }
    </script>
</div>
</html>
