<div class="container mt-5">
    <h1>Gerenciar Obras</h1>
    {% extends 'bootstrap/base.html' %}

    {% block content %}
    <h1>Lista de Obras</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message[1] }}">
            {{ message[0] }}
            </div>
        {% endfor %}
        {% endif %}
    {% endwith %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome da Obra</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use um loop para iterar sobre as obras e preencher a tabela -->
            {% for work in works %}
            <tr>
                <td>{{ work.id }}</td>
                <td>{{ work.work_name }}</td>
                <td>
                    <a href="/works/edit_works/{{ work.id }}" class="btn btn-primary">Editar</a>
                    <a href="/works/delete_works/{{ work.id }}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/works/add_works" class="btn btn-success">Adicionar Obra</a>
    <a href="/" class="btn btn-secondary">Voltar</a>
    {% endblock %}
  
</div>

